<html>
    <head>
        <title>location-api</title>
    </head>
    <body>
        <h1 align='center'  >Welcome to Location API</h1>
            <h4>Help</h4>
            <li>For single location of pincode:<a href='http://localhost:8083/api/pincode/1/122001'>/1/122001</a></li>
            <li>For  all locations of pincode:<a href='http://localhost:8083/api/pincode/0/122001'>/0/122001</a></li>
            <li>To download the latest file:</li>
    </body>
</html>
